.post {
    width: 80%;
    border: 1px solid lightgray;
    display: grid;
    justify-items: center;
    margin-bottom: 1rem;
    border: 0.2rem solid var(--background-color);
    /*width: 35.25rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.3rem;
    ;*/
}

.post__header {
    width: 100%;
    height: auto;
    padding: 0.5rem 0.2rem;
}

.post__header__poster {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.post__header__poster__pic {
    display: block;
    width: 2.5rem;
    margin-right: 0.5rem;
}

.post__header__poster__pic img {
    width: 100%;
    border-radius: 100%;
}

.post__header__poster__username {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

<<<<<<< HEAD
.post__header__post-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    margin-left: 0.2rem;
    color: var(--darker-background);
}

=======
>>>>>>> bf31e3b6def96a89bf34ee890257c44c5c53af7a
.post__header__text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: var(--black-char);
}

.post__frame {
    max-width: 22rem;
    display: block;
    align-self: center;
}

.post__frame__pic {
    width: 100%;
}